<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="../styles/about.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="icon" type="image/x-icon" href="./images/brand-icon/logo-big.png">
    <title>About</title>
</head>

<body>
    <nav>
        <a href="/index">Home</a>
        <a href="/contact">Contact Us</a>
    </nav>

    <h1 class="intro" style="text-align: center;">About Us <br>
        <p>Travel Buddy Finder</p>

        <br><br><br>
    </h1>
    <h2 style="text-align: center; color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 2px 2px black;">Go and check who we are and what we do!!!</h2> <br>
    <p class="message">Scroll Down <br> &darr;</p>

    <br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="content1" style="text-align: center;">
        <h1>Genesis of the Idea: How Travel Buddy Finder Came to Be</h1>
        <br>
        <p>
            At Travel Buddy Finder, our journey began with a simple yet powerful idea - to bring people together when
            embarking on their travel adventures. We understand the thrill of exploring new destinations, but we also
            recognize the challenges of doing it alone, both in terms of expenses and the missed opportunities for
            meaningful connections. <br><br>

            The spark for Travel Buddy Finder ignited during our college days when we were presented with the
            opportunity to choose a project for one of our subjects. As avid travelers ourselves, we couldn't help but
            notice the recurring issue of traveling solo and its associated costs. Whether it was catching a cab to the
            airport or embarking on long train journeys, the idea of sharing these experiences with fellow travelers to
            split expenses and enhance the overall adventure appealed to us.<br><br>

            Thus, Travel Buddy Finder was born - a platform designed to connect travelers who share similar itineraries,
            making travel not only more cost-effective but also more enjoyable through shared experiences. Our own
            personal encounters with these challenges inspired us to create a solution that benefits travelers
            worldwide.<br><br>

            Join us in our mission to transform the way people travel, one shared journey at a time. Together, we'll
            make exploring the world more affordable, sociable, and unforgettable.
        </p>
    </div> <br>
    <hr>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">
                <div class="content2">
                    <h1><b style="font-size: 1.7em; font-size: center;">What do we aim?</b></h1>
                    <p>
                        <p style="font-size: 1.05em;">At Travel Buddy Finder, our mission is clear: to revolutionize the way people experience and enjoy their journeys. We aim to achieve this by:</p>
                        
                        <ol start="1">
                            <li><b>Connecting Travelers: </b>We aim to connect like-minded travelers who share similar itineraries, providing a platform where people can find travel companions easily and embark on unforgettable adventures together.</li> <br>
                            <li><b>Reducing Travel Costs: </b>Our goal is to help travelers save money by facilitating cost-sharing opportunities. Whether it's sharing a cab to the airport or splitting expenses on a long train journey, we want to make travel more affordable for everyone.</li> <br>
                            <li><b>Fostering Social Connections: </b>We believe that the best travel experiences are those shared with others. We aim to foster meaningful social connections between travelers, enabling them to create lasting memories and friendships.</li> <br>
                            <li><b>Building a Global Community: </b>Travel Buddy Finder aims to build a diverse and inclusive global community of travelers. We welcome people from all backgrounds and cultures to join us in the spirit of exploration and camaraderie.</li>
                        </ol>
                    </p>
                </div>
            </div>

            <div class="col-md-6 content2">
                <h1>
                    <b style="font-size: 1.7em; font-size: center;">Our Values</b>
                </h1>
                <br>
                <p class="values">
                    <span class="cir1">EXCITING</span>
                    <span class="cir2">UNIQUE</span>
                    <span class="cir3">CONNECTED</span>
                </p>
            </div>

        </div>
    </div>

    <footer>
        With Love <b style="color: red;">&#10084;</b>, Wishing you a safe and memorable journey
    </footer>


    <script>
        // Get the first element with the class "message"
        const scrollDownPara = document.querySelector('.message');
    
        scrollDownPara.addEventListener('click', function(){
            const scrollPosition = window.scrollY + window.innerHeight * 1.1;
            window.scrollTo({
                top: scrollPosition,
                behavior: 'smooth' // This provides a smooth scrolling effect
            });
        });
    </script>
    
</body>

</html>