<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/changepass.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="./images/brand-icon/logo-big.png">
    <title>Travel Buddy Finder</title>
</head>
<body>
    <div class="header">
        <br>
        <h1 class="h1st">Travel Buddy Finder</h1>


        <nav style="float: right; margin-top: 20px;">
            <a href="/about">ABOUT US</a>
            <a href="/faq">FAQ'S</a>
            <a href="/contact">CONTACT US</a>
        </nav>
    </div>

    <div class="mainbody">
        <form action="/updatepass" method="post">
            <%if(error){%>
                <p style="color: red;"><%=error%></p>
            <%}%>
            <p style="color: rgb(129, 184, 252); font-size: 1.2em; font-weight: 500;">Change Your Password!</p><br>
            <label>Enter new Password: </label><br>
            <input type="text" name="Password" placeholder="Enter new Password">

            <br><br>
            <label>Confirm new Password: </label><br>
            <input type="text" name="confirmPassword" placeholder="Confirm new Password">
            <input type="hidden" name="currentURL" id="currentURL">

            <br><br>
            <button type="submit">Update</button>
        </form>
    </div>
    <a href="/logout" class="options home-link">&#8592; Back to Login</a> <br> <br>

    <script>
        document.getElementById('currentURL').value = window.location.href;
    </script>
</body>
</html>