<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="../styles/TnC.css" rel="stylesheet" />
</head>
<body>
    
    <nav>
        <span class="heading-top">Travel Buddy Finder</span>

        <div class="nav-menu">
            <button class="nav-btn2"><a href="/backhome" style="color:#ffffff">&#8592; Back</a></button>
        </div>
    </nav>

    <br><br>

    <h1 class="heading-main">Terms and Conditions</h1> <hr style="width: 80%; margin-left: 10%;">

    <main>
        <ul>
          <li>All rights reserved, including logos and all content on this App/website. Reproduction is prohibited other than authorized by TravelBuddy.</li><br>
          <li>The content of the app is for your general information and use only and may change without notice. We act to ensure that all information published on this app is up-to-date and accurate. However, we disclaim any liability for any loss or damage caused by errors, omissions, wrong information or any travel problem caused by information provided via TravelBuddy. We don't provide any warrant or guarantee of any of the information found on this App.. You acknowledge that this information may contain mistakes and we exclude liability for any errors. Your use of any material on this website is totally at your own risk, for which we are not liable. We disclaim all responsibility and liability for uses of any content obtained or in connection with the TravelBuddy App</li> <br>
          <li>Unauthorized use of TravelBuddy may give rise to a claim for damages and/or be a criminal offence. This App may contain links to other websites, provided for your convenience, what doesn't mean that we endorse these websites. We have no responsibility for the content of linked websites/App</li><br>
          <li>
            Since Travel Buddy is a Social Platform, we reserve the right to ban-block any user who is doing any of the following : Spreading Misinformation, Posting Nude Photos and Videos, Inciting hate speech and violence, Building Fake Profiles, Doing Spam or Fraud, Using others photos and videos.
          </li><br>
          <li>
            Since Travel Buddy is a Social Platform, we reserve the right to ban/block any user who is doing any of the following : Spreading Misinformation,Inciting hate speech and violence, Building Fake Profiles, Doing Spam or Fraud, Using others information.
          </li><br>
          <li>
            By Signing Up on TravelBuddyFinder you agree to share your information like name, gender, email address, mobile number.
          </li><br>
          <li>It must be informed that TravelBuddy only provides the connect to enable travelers and Travel Providers to find each other. We are not a travel agency or a tour operator. All arrangements are entirely between travelers and travel providers . We do not introduce one party to another; we are merely a meeting point. It is your decision as a traveler to make contact with other Travelers and Travel Providers. We have no control over if the given information is truth and no resources to check every person's reliability. If you choose to talk to a traveler/travel provider or to go to meet them ,it is at your own risk.</li> <br>
          <li>
            By signing up on Travel Buddy you agree not to involve or promote any criminal or unlawful activity. Such actions will lead to legal actions. 
          </li><br>
          <li>
            Using any automated means to access our platform or collect any information from our platform is also an act of crime and necessary actions will be taken
          </li><br>
          <li>
            This platform is not for any kind of commercial or promotion. Doing any kind of promotion without prior consent is prohobited.
          </li> <br>
        </ul><hr>
        <br>
        <div>
          <p class="contact" style="text-align: center;">If you have any questions or complaint please Contact us <a href="/contact">HERE</a></p>
        </div>
    </main>

    <br><br>

    <footer>
      <p>with <b style="color: red;">&#10084;</b>,&nbsp; Wishing you a safe and memorable journey</p>
    </footer>

</body>
</html>