body {
    background-image: url(../images/background/bg-small.jpg);
    background-size: cover;
}

#main {
    color: white;
}

#txt {
    background-color: rgba(0, 0, 0, 0.227);
    border-radius: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 2.1s;
}

#txt:hover {
    color: rgb(234, 223, 208);
    background-color: rgba(0, 0, 0, 0.439);
}

#login-sec {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form > input {
    background-color: rgba(0, 0, 0, 0.237);
    border: 1px solid rgba(147, 147, 147, 0.485);
    padding: 9px;
    width: 270px;
    font-size: 1.37em;
}

label {
    font-size: 1.1em;
}

#submit-btn {
    font-size: 1.55em;
    background-color: rgba(0, 0, 0, 0.480);
    border: 0px;
    padding: 11px;
    width: 210px;
}

.sign-up-link {
    color: wheat;
    font-size: 1.09em;
}

input, button {
    border-radius: 10px;
}

h4 {
    font-size: 20px;
    text-align: center;
    color: #ffffffca;
    display: flex;
    flex-direction: row;
    margin-left: 265px;
    margin-right: 265px;
    margin-bottom: 20px;
}
  
h4:before,
h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #ffffffca;
    margin: auto;
}

/* Css Edit */
span>h1{
    font-size: 5.1em;
    text-align: right;
    padding-right: 7%;
    margin-bottom: 5%;
}
.row1{
    text-align: center; margin: 0 110px 0 110px
}
.logo-img{
    float: left;
    width: 136px;
    margin-right: 11px;
    border-radius: 31px;
    padding: 1px;
    margin-left: 10px;
}
span{
    margin-bottom: 10%;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 21px 12px 47px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #4e4e4e;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: rgba(255, 255, 255, 0.771);
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(77, 77, 77, 0.04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(22, 22, 22, 0.04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
}

.brHide{
    display: none;
}

/* Css Edit Media Query*/


@media only screen and (max-width: 600px){
    body{
        background-image: url('../images/background/back-phone.png') no-repeat fixed;
        max-width: 100%;
    }
    span>h1{
        font-size: 2.30em;
        margin-right: 0%;
        margin-bottom: 0%;
    }
    .logo-img{
        width: 51px;
    }
    #main{
        font-size: 0.7em;
        width: 80%;
    }
    .row1{
        margin: 0px;
    }
    #login-sec > h4{
        /* margin-left: 0px; */
        margin-right: 70%;
        display: none;
    }
    .brHide{
        display: block;
    }
    .login-with-google-btn{
        margin-bottom: 24px;
    }
   


}