body{
    background-image: url("../images/background/bg-large.jpg");
    background-size: cover;
}

#request-box{
    background-color: rgba(0, 0, 0, 0.421);
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 1.06em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label{
    font-size: 1.2em;
}


#request-box>form>div{
    padding-top: 50px;
    /* margin-bottom: 36px; */
}

input{
    background-color: rgba(0, 0, 0, 0.271);
    border: 1px solid white;
    border-radius: 8px;
    padding: 7px;
    width: 220px;
    
    
}

button{
    margin-top: 17px;
    background-color: rgba(53, 91, 53, 0.911);
    border-radius: 20px;
    border: 0px;
}

.options{
    font-size: 1.4em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.714);
    color: rgba(233, 234, 223, 0.731);
}

.home-link{
    position: absolute;
    bottom: 0px;
    padding-left: 2%;
    width: 188px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 0px 16px 0px 0px;
    transition: font-size 0.5s, width 0.5s;
}
.home-link:hover{
    font-size: 1.4em;
    width: 204px;
}