body {
    background-image: url("../images/background/bg-large.jpg");
    background-size: cover;
}

#request{
    border-radius: 40px;
    background-color: rgba(41, 41, 41, 0.377);
    /* background-attachment: scroll; */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 27% 0px 27%;
    height: min(650px, 480px);
    max-width: 46%;
    box-shadow: 5px 5px 5px black;
}

#welcome{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
}
#wel{
    margin: 2% 20% 0 20%;
    color: rgb(0, 0, 0);
}
#wel1{
    margin: 0 20% 1.5% 20%;
    color: rgb(0, 0, 0);
}

.scroll-div{
    height: min(620px,450px);
    margin: 14px 0 14px 0;
   overflow: hidden;
   overflow-y:scroll;
   padding: 0 20px 0 20px;
}


.postnewRequest1{
    margin: 2px 2px 2px 0;
    align-items: center;
}

.postnewRequest2{
    padding-left: 4px;
    /* padding-top: 4px; */
    padding-bottom: 4px;
}

#postData{
    /* display: flex; */
    text-align: right;
    color: rgba(255, 255, 255, 0.805);
    padding-left: 4px;
    /* padding-top: 4px; */
    padding-bottom: 4px;
    margin: 45px 0 0 0;
    font-size: 2.4em;
}

.plus{

    align-items: center;
    margin-top: 65px;
    padding-left: 50px;
}

.plus1{
    background-color: rgba(0, 0, 0, 0.356);
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    width: 140px;
    height: 70px;
    align-items: center;
    text-align: center;
    border: solid rgba(56, 0, 0, 0.729) 0.2px;
    border-radius: 20px;
    position: relative;
    transition: background-color 0.8s, width 0.8s, height 0.8s, shadow 0.8s;
    padding-top: 20px;

}

.plus1:hover{
    background-color: rgba(0, 136, 255, 0.476);
    width: 144px;
    height: 72px;
    box-shadow:  rgba(0, 89, 255, 0.993) 0 2px 2px 0;
}

.show-data{
    padding: 16px 0px 16px 4px;
    margin: 16px 0 0 0;
    background-color: rgba(150, 193, 252, 0.723);
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    border: solid black 0px;
    box-shadow: 3px 3px 3px rgba(66, 66, 66, 0.719);
    border-radius: 25px;
    /* text-align: center; */
}

.show-data .row{
    margin: 5px 0 0 0;
}

.options{
    font-size: 1.4em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.714);
    color: rgba(233, 234, 223, 0.731);
}

.home-link{
    position: absolute;
    bottom: 0px;
    padding-left: 2%;
    width: 188px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 0px 16px 0px 0px;
    transition: font-size 0.5s, width 0.5s;
}
.home-link:hover{
    font-size: 1.4em;
    width: 204px;
}

.Bookmark_fin{
    display: none;
}

.show-data1{
    padding: 16px 0px 16px 4px;
    margin: 150px 0 0 0;
    color: rgb(240, 233, 233);
    font-size: 2em;
    border: solid black 0px;
    border-radius: 25px;
    text-align: center;
}